<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, </h1>
    <p>
     Twój artykuł <%= @article.title %> został skomentowany!

Naciśnij <%= link_to "ten link", article_url(@article) %> żeby zobaczyć.
    </p>
  
  </body>
</html>