<h1>Article Edition</h1>

<%=render 'form'%>




<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>

<p> 
<h2><%= link_to 'Back', articles_path %></h2>
</p>
